<div class="pt-4">
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        {{> header title='Dashboard'}}
      </div>
      <div class="card-text row">
        <div class="col-md-8">
          
        </div>
        <div class="col-md-4">
          {{> user-form }}
        </div>
      </div> 
    </div>
  </div>
</div>