<div class="card">
  <div class="card-body">
    <div class="card-title">
      <h4 class="border-bottom pb-2 mb-4">Dashboard</h4>
    </div>
    <div class="card-text">
      Dashboard content...
    </div> 
  </div>
</div>