<div class="card">
  <div class="card-body">
    <div class="card-title">
      {{> header title='Dashboard'}}
    </div>
    <div class="card-text">
      <div class="row">
        <div class="col-md-6">
          <h5 class="mb-3 text-center text-md-left">Registered Users</h5>
        </div>
        <div class="col-md-6">
          <div class="text-right">
            <a href="/user/add" class="text-uppercase text-info font-weight-bold">+ Add User</a>
          </div>
        </div>
      </div>
      {{#ifeq queryString.update 'success'}}
        <div class="alert alert-success" role="alert">
          User has been successfully saved!
        </div>
      {{/ifeq}}
      {{> user-table }}
    </div> 
  </div>
</div>