<div class="card">
  <div class="card-body">
    <div class="card-title">
      <div class="row">
        <div class="col-6">
          <h4 class="border-bottom pb-2 mb-4">Dashboard</h4>
        </div>
        <div class="col-6 text-right">
          <button id="logout" class="btn btn-dark btn-sm">Logout</button>
        </div>
      </div>
    </div>
    <div class="card-text">
      Dashboard content...
    </div> 
  </div>
</div>

<script>
  const logout = document.querySelector('#logout');

  function deleteCookie(cname) {
    var d = new Date();
    d.setTime(d.getTime() - (1000*60*60*24));
    var expires = `expires=${d.toGMTString()}`;
    document.cookie = `${cname}=; ${expires}; path=/;`;
  }


  logout.addEventListener('click', () => {
    deleteCookie('userToken');
    console.log(document.cookie);
    location.href = '/login';
  })
</script>