<div class="card h-100">
  <div class="card-body">
    <div class="card-title">
      {{> header title='Dashboard'}}
    </div>
    <div class="card-text">
      <h5 class="mb-3 text-center text-md-left">Registered Users</h5>
      {{> user-table }}
    </div> 
  </div>
</div>