<div class="pt-4">
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <h4 class="mb-4">404: Page Not Found</h4>
      </div>
      <div class="card-text">
        <p>Oops! It looks like the page you requested does not exist.</p>
        <button class="btn btn-info" onClick="window.history.back()">Go Back</button>
      </div> 
    </div>
  </div>
</div>