html, 
body {
  height: 100%;
}
ul {
  margin: 0;
}
.was-validated .form-control:invalid {
  border: 1px solid #d9534f;
}
.nav > .nav-item {
  margin-right: 0;
}
.password-input {
  position: relative;
}
.btn-show-password {
  border: 0;
  background: none;
  padding: 0;
}