<div class="row border-bottom mb-4 align-items-center">
  <div class="col-md-6">
    <h4 class="text-center text-md-left">{{{title}}}</h4>
  </div>
  <div class="col-md-6">
    <ul class="nav justify-content-center justify-content-md-end">
      <li class="nav-item">
        <a class="nav-link text-uppercase" href="/account/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-uppercase" href="/logout">Log Out</a>
      </li>
    </ul>
  </div>
</div>